registry=https://tfs.katoennatie.com/tfs/ITGloCollection/_packaging/PrivatePackageRepository/npm/registry/
metrics-registry=https://tfs.katoennatie.com/tfs/ITGloCollection/_packaging/PrivatePackageRepository/npm/registry/
always-auth=true